{% extends "base.html" %}

{% block content %}
<style>
    h1, h2, h3, h4, h5 {
        font-family: Garamond;
    }
    p, em {
        font-family: Garamond;
    }
</style>

    <div class="intro_body text-center" style="margin:auto;">
        <h1><b>why use this?</b></h1>
        <p style="font-size: 24px; margin-left: 20px; margin-right:20px">You're a new programmer.  You're inspired to do something new.
            <br>The last thing you want to do is spend a week choosing a language.
        <br><br>
        In the words of Tim Peters:
        <em>Now is better than never.</em></p>
        <hr>
    </div>


    <div class="row " style="max-width: 900px; margin: 0 auto;">
        {% for language in languages %}
        <div class="col-sm-4">
            <div class="card text-center">
            <div class="card-block" style="margin-bottom: 10px;">
                <h1 class="card-title">{{ language.lang_name }}</h1>
                <h3> Difficulty: <b>{{ language.difficulty }}</b> </h3><br>
                <h5 style="font-size: 20px"> <b>Common Uses:</b> {{ language.common_uses|join(', ') }}</h5>
                <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
                      role="button" aria-expanded="false" aria-controls="collapseExample">

                </a></p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Bacon ipsum dolor amet ham hock beef alcatra meatball kevin.
                        Kielbasa shoulder filet mignon cow tongue tail shank boudin.
                        Tenderloin shankle boudin spare ribs beef ribs, beef cupim shoulder
                        kevin burgdoggen corned beef meatloaf pork loin.
                    </div>
                </div>
            </div>

                <hr>
        </div>
        </div>
        {% if loop.index == 3 and not loop.last %}
        </div><div class="row" style="max-width: 900px; margin: 0 auto;">
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}