{% extends "base.html" %}

{% block content %}

    <h2>lqr - explained</h2>
    <p>You're a new programmer.  You're inspired to do something new.
    The last thing you want to do is spend a week choosing a language.
    <br><br>
    In the words of Tim Peters:
    <em>Now is better than never.</em></p>
    <hr>

    <div class="row">

    {% for language in languages %}

        <div class="col-sm-4">
                <div class="card border-dark mb-3" style="max-width:18rem;">
                    <div class="card-header">{{ language.lang_name }}</div>
                    <div class="card-body text-dark">
                        <p class="title"><b>Difficulty:</b> {{ language.difficulty }}
                        <br>
                        <b>{{ language.common_uses|join(' ') }}</b></p>
                        <a href="/" class="btn btn-primary">More Data Soon</a>
                    </div>
                </div>
        </div>
        <br>
        {% if forloop.counter | divisibleby:"3" and not forloop.last %}
        </div><div class="row">
        {% endif %}

    {% endfor %}
    </div>




{% endblock %}