{% extends "base.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
<style>
    h1, h2, h3, h4, h5 {
        font-family: 'EB Garamond', serif;
    }
    p, em {
        font-family: 'EB Garamond', serif;
    }
    #infoButton {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        padding: 6px 20px 6px 20px;
    }
    #dataScienceBtn {
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        color: #191919;
        padding 6px 20px 6px 20px;
        background-color: white;
    }
    #filterContainer {
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    body {
        background-color: #fcffff;
    }



</style>

    <div class="intro_body text-center" style="margin: 0 auto;">
        <h1><b>hi there</b></h1>
        <p style="font-size: 24px; margin-left: 20px; margin-right:20px">You're a new programmer.  You're inspired to do something new.
            <br>The last thing you want to do is spend a week choosing a language.
        <br><br>
        In the words of Python's legendary Tim Peters:
        <em>Now is better than never.</em></p>
        <hr>
    </div>

    <div class="container text-center" id="filterContainer" style="margin: 0 auto;">
        <h3><b>Filters (not working yet :D)</b></h3>
        <a class="btn btn-primary" id="dataScienceBtn">Data Science</a>
        <a class="btn btn-primary" id="dataScienceBtn">Web Apps</a>
        <a class="btn btn-primary" id="dataScienceBtn">Mobile Apps</a>
        <a class="btn btn-primary" id="dataScienceBtn">Full Stack</a>
        <hr>

    </div>


    <div class="row " style="max-width: 900px; margin: 0 auto;">
        {% for language in languages %}
        <div class="col-sm-4" id="language_{{ language.id }}">
            <div class="card text-center">
            <div class="card-block" style="margin-bottom: 10px;">
                <h1 class="card-title"><b>{{ language.lang_name }}</b></h1>
                <h3> <b>Difficulty: </b>{{ language.difficulty }} </h3><br>
                <h5 style="font-size: 20px"> <b>Common Uses:</b> {{ language.common_uses|join(', ') }}</h5>
                <p><a class="btn btn-primary" id="infoButton" data-toggle="collapse"
                      data-target="#language_body_{{ language.id }}"
                      role="button" aria-expanded="false" aria-controls="language_body_{{ language.id }}"> info

                </a></p>
                <div class="collapse" id="language_body_{{ language.id }}">
                    <div class="card card-body" id="description" style="text-align: left">
                        <p style="font-size:18px; font-family:Helvetica">{{ language.diff_expanded }}
                        <br>
                        <br>
                        <b>Environment Requirements</b>
                            <br>
                            {{ language.requirements }}
                        <br>
                        <br>
                        <b>Certifications</b>
                            <br>
                        {{ language.certifications }}
                        <br>
                        <br>
                        <b>Libraries</b>
                            <br>
                        {{ language.libraries }}
                        <br>
                        <br>
                        <b>Popular Apps</b>
                            <br>
                        {{ language.pop_apps }}
                        </p>
                    </div>
                </div>
            </div>

                <hr>
        </div>
        </div>
        {% if loop.index == 3 and not loop.last %}
        </div><div class="row" style="max-width: 900px; margin: 0 auto;">
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}